RABBITMQ_URL=amqp://clicky:clicky_local_password@127.0.0.1:5672/
RABBITMQ_QUEUE=click_events
CLICKHOUSE_DSN=clickhouse://clicky:clicky_local_password@127.0.0.1:9000/clicky
BATCH_SIZE=1000
FLUSH_INTERVAL=2s
MAX_INSERT_ATTEMPTS=5
RETRY_INITIAL_DELAY=1s
RETRY_MAX_DELAY=30s